body{
    padding: 10px;
}

small.error{
    color: red;
    display: block;
}

navbar{
    color: #fff;
}

article{
    display: inline-block;
    border: 1px solid beige;
    margin: 5px;
}

.table-custom{
    width: auto;
}

