body{
    padding: 10px;
}

.error{
    color: red;
    display: block;
}

navbar{
    color: #fff;
}

article{
    display: inline-block;
    border: 1px solid beige;
    margin: 5px;
}

section{
    padding: 15px;
}

.table-custom{
    width: auto;
}

.text-center{
    text-align: center;

}

.oops{
    margin-top: 100px;
    width: 800px;
}

.catmessage{
    margin: 25px 0px;
}