<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
<div class="mx-auto text-center oops">
    <h1 style="color: red"><i class="fas fa-ban"></i>Access Denied</h1>
    <p>You are not authorized to access this page.</p>

    <div>
        <a th:href="@{/}">
            <button class="btn btn-dark" type="button"><i class="fas fa-home"></i> Return Home</button>
        </a>
    </div>
</div>
</body>
</html>