<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Panel</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-7 text-left">
            <div class="row content">
                <h1>View</h1>
                <button type="button" class="btn btn-primary" id="users">Users</button>
                <button type="button" class="btn btn-primary">Extensions</button>
                <button type="button" class="btn btn-primary">Featured</button>
                <button type="button" class="btn btn-primary">Pending</button>
                <hr>
            </div>

        </div>
        <div class="col-sm-5 sidenav">
            <h3>Info</h3>
            <hr>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>

<script>
    function getUsers(){
        var url = '';
        $("#results").load(url);
    }
</script>

</html>