<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(extensions)}">
    <h2>Counts List</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        <tr th:each="e : ${extensions}">
            <td th:text="${e.description}"></td>
            <td th:text="${e.name}"></td>
        </tr>
    </table>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>

</html>