<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
    <nav th:replace="fragments::nav"></nav>
    <section>
        <form th:object="${extension}"  method="post">
            <div class="form-group">
                <label for="name">Name
                    <input type="text" class="form-control" th:value="${extension.name}" id="name">
                </label>
            </div>
            <div class="form-group">
                <label for="description">Description
                    <textarea id="description"  class="form-control" th:text="${extension.description}"></textarea>
                </label>
            </div>
            <div class="form-group">
                <label for="version">Version
                    <input type="text" class="form-control" id="version" th:value="${extension.version}">
                </label>
            </div>

    </section>
</body>
</html>