<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
    <title>Upload Extension</title>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div class="upload-container">
    <div class="upload-header">
        <h2>Spring Boot File Upload / Download Rest API Example</h2>
    </div>

    <div th:if="${message}">
        <h3 th:text="${message}"></h3>
        <small th:if="${fileDownloadUri}" th:text="${fileDownloadUri}"></small>

    </div>

    <div class="upload-content">
        <div class="single-upload">
            <h3>Upload Extension File</h3>
            <form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data" id="singleUploadForm" name="singleUploadForm">
                <input  id="singleFileUploadInput" type="file" name="file" class="file-input" required />
                <button type="submit" class="primary submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
<!--<th:block th:include="fragments :: assets"></th:block>-->
</body>
</html>