<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
<form th:action="@{/extenstion-add}" th:object="${extensionDto}" method="post" enctype="utf8">
    <div class="form-group">
        <label>Extension Name
            <input class="form-control" size="60" type="email" th:field="*{name}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" type="password" th:field="*{password}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Confirm Password
            <input class="form-control" type="password" th:field="*{matchingPassword}"/>
        </label>
        <small class="error"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <input class="btn btn-primary" type="submit" value="Register"/>
</form>
</body>
</html>