<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
    <title>Extension Details</title>
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<main class="container">
    <div th:if="${successmessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successmessage}">Extension has been created!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${messageUploaded}" class="alert alert-primary alert-dismissible fade show" role="alert">
        <span th:text="${messageUploaded}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${errormessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errormessage}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row">
        <div class="col-8">
            <h1>
                <span th:if="${extension.icon}"><span th:utext="${extension.icon}"></span>
                </span>
                <span th:text="${extension.name}"></span>
            </h1>
            <h6 class="card-subtitle">
                <span>Version: <span th:text="${extension.version}">Extension Version</span></span>
                <span class="margin-left"><i class="fas fa-user"></i>
                    Author: <span th:text="${extension.userProfile.firstName}">Firstname</span>
                <span th:text="${extension.userProfile.lastName}">Lastname</span>
                <span class="margin-left"> <i class="fas fa-download"></i>
                    Downloads: <span th:text="${extension.downloadsCount}"></span></span>
                <span class="margin-left"><i class="far fa-calendar-alt"></i>
                    Added on: <span th:text="${addedOnFormatted}"></span></span></span>
            </h6>
            <a th:href="@{'/api/downloadFile/'+ ${extension.id} + '/' + ${extension.downloadLink}}">
                <button class="btn btn-primary"><i class="fas fa-download"></i> Download</button>
            </a>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="card margin-top">
        <div class="row card-body">
            <div class="col-8">
                <h2 class="card-title">Description</h2>
                <p class="card-text" th:utext="${extension.description}">Extension Description</p>
                <a th:href="@{/search-results(searchby='tagname',value=${tag.tagTitle},sortby='name')}" class="badge badge-info"
                   th:each="tag : ${tags}"
                   th:text="${tag.tagTitle}">
                    JavaTag
                </a>
            </div>
            <div class="col-4">
                <div class="card github" style="width: 18rem;">
                    <div class="card-body" th:object="${repoData}">
                        <p>
                            <i class="fab fa-github"></i> <a th:href="@{'https://' + ${extension.repoLink}}">GitHub Repository</a>
                        </p>
                        <p>
                            <i class="fas fa-bug"></i> Open Issues: <span
                                th:text="${extension.openIssues}">Open Issues</span></p>
                        <p>
                            <i class="fas fa-code-branch"></i> Pull Requests: <span
                                th:text="${extension.pullRequests}">Pull Requests</span>
                        </p>
                        <p>
                            Last Commit Date: <span th:text="${lastCommitFormatted}">Last Commit Date</span>
                        </p>
                        <a sec:authorize="hasAuthority('ROLE_ADMIN')"
                           th:href="@{'/refreshRepository/'+ ${extension.id}}">
                            <button class="btn btn-primary"><i class="fas fa-sync-alt"></i> Refresh GitHub Data</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>