<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments :: head">
    <title>Extension Details</title>
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<main class="container">

    <p th:if="${errormessage}" th:text="${errormessage}" class="alert alert-danger"></p>

    <div th:if="${messageCreated}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${messageCreated}">Extension has been created!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:if="${messageUploaded}" class="alert alert-primary alert-dismissible fade show" role="alert">
        <span th:text="${messageUploaded}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h2>
        <span th:if="${extension.icon}">
            <span th:utext="${extension.icon}"></span>
        </span>
        <span th:text="${extension.name}"></span>
    </h2>

    <a th:href="@{'/api/downloadFile/'+ ${extension.id} + '/' + ${extension.downloadLink}}">
        <button class="btn btn-primary">Download</button>
    </a>

    <div th:text="${extension.name}">Extension Name</div>
    <small>Version: <span th:text="${extension.version}">Extension Version</span></small>


    <p th:text="${extension.description}">Extension Description</p>
    <p>
        <i class="fab fa-github"></i> <span th:text="${extension.repoLink}">GitHub Repository</span>
    </p>
    <p>
        <i class="fas fa-bug"></i> Open Issues: <span th:text="${extension.openIssues}">Open Issues</span>
        <i class="fas fa-code-branch"></i> Pull Requests: <span th:text="${extension.pullRequests}">Pull Requests</span>
    </p>
    <p>
        Last Commit Date: <span th:text="${lastCommitFormatted}">Last Commit Date</span>
    </p>
    <p th:text="${fileDownloadUri}">File download</p>

    <p th:if="${extension.downloadLink}" th:text="${extension.downloadLink}">Download Link</p>
    <p th:unless="${extension.downloadLink}" th:text="This extension has no available download files.">This extension
        has no
        available download files.</p>

    <p><i class="far fa-calendar-alt"></i> Added on: <span th:text="${addedOnFormatted}"></span></p>

    <div>
        <a th:href="@{#}" class="badge badge-light" th:each="tag : ${tags}" th:text="${tag.tagTitle}">
            JavaTag
        </a>
    </div>
</main>

</body>
</html>