<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
<form th:action="@{/extenstion-add}" th:object="${extensionDto}" method="post" enctype="utf8">
    <div class="form-group">
        <label>Extension Name
            <input class="form-control" size="60" type="text" th:field="*{name}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('name')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Desc
            <input class="form-control" type="password" th:field="*{description}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('description')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Version
            <input class="form-control" type="password" th:field="*{version}"/>
        </label>
        <small class="error"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Repo
            <input class="form-control" type="text" th:field="*{repoLink}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('repoLink')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <input class="btn btn-primary" type="submit" value="Register"/>
</form>
</body>
</html>