<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<form th:object="${extensionDto}" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label>Extension Name
            <input class="form-control" size="60" type="text" th:field="*{name}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('name')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Desc
            <textarea class="form-control" type="text" th:field="*{description}" rows="5" cols="60"></textarea>
        </label>
        <small class="error" th:each="error : ${#fields.errors('description')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Version
            <input class="form-control" type="text" th:field="*{version}"/>
        </label>
        <small class="error"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>GitHub User
            <input class="form-control" type="text" th:field="*{repoUser}"/>
            <small class="error" th:each="error : ${#fields.errors('repoUser')}"
                   th:text="${error}">Validation error
            </small>
        </label>

        <label>GitHub Repository Name
            <input class="form-control" type="text" th:field="*{repoName}"/>
            <small class="error" th:each="error : ${#fields.errors('repoName')}"
                   th:text="${error}">Validation error
            </small>
        </label>
    </div>

    <div class="form-group">
        <label>Upload file extension
            <input class="form-control" id="singleFileUploadInput" type="file" name="file" required/>
        </label>
    </div>

    <select name="tags" multiple th:field="*{tags}">
        <option th:each="tag : ${availableTags}"
                th:text="${tag}"
                th:value="${tag}"></option>
    </select>

    <div>
        <textarea id="textarea" rows="1"></textarea>


    </div>
    <input class="btn btn-primary" type="submit" value="Create Extension"/>
</form>
<th:block th:include="fragments :: tags-assets"></th:block>
<th:block th:include="fragments :: assets"></th:block>

</body>
</html>