<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!--Flatly-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tags-css/textext.core.css">
    <link rel="stylesheet" href="/css/tags-css/textext.plugin.arrow.css">
    <link rel="stylesheet" href="/css/tags-css/textext.plugin.focus.css">
    <link rel="stylesheet" href="/css/tags-css/textext.plugin.prompt.css">
    <link rel="stylesheet" href="/css/tags-css/textext.plugin.clear.css">
    <link rel="stylesheet" href="/css/tags-css/textext.plugin.autocomplete.css">
    <link rel="stylesheet" href="/css/tags-css/textext.plugin.tags.css">
    <meta charset="UTF-8">
    <title>Extensions42</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav" role="navigation">
    <a class="navbar-brand" th:href="@{/}"><i class="fas fa-puzzle-piece"></i> Extension 42</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="hasAuthority('ROLE_DEV')" id="developer">
                <a class="nav-link" th:href="@{/developer}">Developer Space</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')" id="admin">
                <a class="nav-link" th:href="@{/adminPanel}">Admin Portal</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')" id="users">
                <a class="nav-link" th:href="@{/users/active}">User Management</a>
            </li>
        </ul>
        <div sec:authorize="!isAuthenticated()" class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">New User</a>
                </li>
            </ul>
        </div>

        <div sec:authorize="isAuthenticated()" class="form-inline my-2 my-lg-0 text-light">
            <span><i class="fas fa-user-circle"></i> <span sec:authentication="principal.username"></span>
            </span>
            <form th:action="@{/logout}" method="post" class="margin-left">
                <input type="submit" value="Logout" class="btn btn-outline-success my-2 my-sm-0"/>
            </form>
        </div>
    </div>
</nav>

<section class="section-search" th:fragment="search">
    <form th:action="@{/search-results}" method="get" class="input-group md-form form-sm form-2 pl-0 mx-auto"
          style="width: 400px">
        <input name="value" class="form-control my-0 py-1" type="text" placeholder="Search extension..."
               aria-label="Search">
        <input type="hidden" name="searchby" value="name">
        <input type="hidden" name="sortby" value="name">
        <button type="submit" class="input-group-append input-group-text lighten-3 search-button" id="basic-text1">
            <i class="fa fa-search text-grey"
               aria-hidden="true"></i>
        </button>
    </form>
</section>

<section th:fragment="footer" class="text-center footer">
    <p>
        <small>Team Ant-Man - Telerik Academy 2018</small>
    </p>
</section>
<th:block th:fragment="assets">
    <script src="../script/script.js"></script>
</th:block>
<th:block th:fragment="tags-assets">
    <script src="../script/tag-starter.js"></script>
    <script src="../script/tags-js/textext.core.js"></script>
    <script src="../script/tags-js/textext.plugin.ajax.js"></script>
    <script src="../script/tags-js/textext.plugin.arrow.js"></script>
    <script src="../script/tags-js/textext.plugin.focus.js"></script>
    <script src="../script/tags-js/textext.plugin.clear.js"></script>
    <script src="../script/tags-js/textext.plugin.filter.js"></script>
    <script src="../script/tags-js/textext.plugin.focus.js"></script>
    <script src="../script/tags-js/textext.plugin.prompt.js"></script>
    <script src="../script/tags-js/textext.plugin.suggestions.js"></script>
    <script src="../script/tags-js/textext.plugin.tags.js"></script>
    <script src="../script/tags-js/textext.plugin.autocomplete.js"></script>
</th:block>
</body>
</html>