<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<h1>Home Page</h1>

<i th:if="${param.logout}">You have been logged out.</i>

<p>Hello to the home page!</p>


<div sec:authorize="isAuthenticated()">
    Hi, user <span th:text="${username}"></span>! This content is only shown to authenticated users.
</div>

<a th:href="@{/login}"> Login </a>
<br/>
<a th:href="@{/register}"> New User </a>
<br/>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

<p sec:authorize="hasAuthority('DEV')">
    <a th:href="@{/developer}">Developer Portal</a>
</p>
<p sec:authorize="hasAuthority('ADMIN')">
    <a th:href="@{/admin}">Admin Portal</a>
</p>

</body>
</html>