<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<nav th:replace="fragments::nav"></nav>

<span th:if="${param.logout}">See you soon!</span>
<section class="text-center">
    <h3>All the extensions you need for Image Studio 42!</h3>
</section>
<section>
    <h4>Featured Extensions</h4>
    <article th:each="extension : ${featuredExtensions}" class="col-sm-2">
        <a th:href="@{'/extension-details/{id}' (id=${extension.id})}">
            <div class="icon-holder" th:if="${extension.icon}">
                <span class="icon" th:utext="${extension.icon}"></span>
            </div>
            <div class="icon-holder" th:unless="${extension.icon}">
                <span class="icon"><i class="fas fa-rocket"></i></span>
            </div>
            <h6 th:text="${extension.name}">Name</h6>
            <div class="article-footer clearfix">
                <span class="float-left"><i class="fas fa-download"></i> <span th:text="${extension.downloadsCount}"></span></span>
                <span class="article-author float-right"><i class="fas fa-user"></i> <span th:text="${extension.userProfile.firstName}">Firstname</span>
                <span th:text="${extension.userProfile.lastName}">Lastname</span>
            </span>
            </div>
        </a>
    </article>
</section>
<section>
    <h4>Most Downloaded Extensions</h4>
    <article th:each="extension : ${mostPopular}" class="col-sm-2">
        <a th:href="@{'/extension-details/{id}' (id=${extension.id})}">
            <div class="icon-holder" th:if="${extension.icon}">
                <span class="icon" th:utext="${extension.icon}"></span>
            </div>
            <div class="icon-holder" th:unless="${extension.icon}">
                <span class="icon"><i class="fas fa-rocket"></i></span>
            </div>
            <h6 th:text="${extension.name}">Name</h6>
            <div class="article-footer clearfix">
                <span class="float-left"><i class="fas fa-download"></i> <span th:text="${extension.downloadsCount}"></span></span>
                <span class="article-author float-right"><i class="fas fa-user"></i> <span th:text="${extension.userProfile.firstName}">Firstname</span>
                <span th:text="${extension.userProfile.lastName}">Lastname</span>
            </span>
            </div>
        </a>
    </article>
</section>
<section>
    <h4>Recently Added Extensions</h4>
    <article th:each="extension : ${recentlyAdded}" class="col-sm-2">
        <a th:href="@{'/extension-details/{id}' (id=${extension.id})}">
            <div class="icon-holder" th:if="${extension.icon}">
                <span class="icon" th:utext="${extension.icon}"></span>
            </div>
            <div class="icon-holder" th:unless="${extension.icon}">
                <span class="icon"><i class="fas fa-rocket"></i></span>
            </div>
            <h6 th:text="${extension.name}">Name</h6>
            <div class="article-footer clearfix">
                <span class="float-left"><i class="fas fa-download"></i> <span th:text="${extension.downloadsCount}"></span></span>
                <span class="article-author float-right"><i class="fas fa-user"></i> <span th:text="${extension.userProfile.firstName}">Firstname</span>
                <span th:text="${extension.userProfile.lastName}">Lastname</span>
            </span>
            </div>
        </a>
    </article>
</section>
<th:block th:include="fragments :: assets"></th:block>
</body>
</html>