<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Register Confirmation</title>
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<main class="container">
    <h1>Register Confirmation Page</h1>

    <div class="card">
        <div class="card-body">
            <p>User registered successfully!</p>
            <a th:href="@{/login}">
                <button class="btn btn-primary">Login</button>
            </a>
        </div>
    </div>
</main>
</body>
</html>