<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<h1>Registration form</h1>

<i th:if="${param.error != null}" th:text="${param.error}" class="error">Error</i>

<form th:action="@{/register}" th:object="${userDto}" method="post" enctype="utf8">
    <div class="form-group">
        <label>First Name
            <input class="form-control" th:field="*{firstname}"/>
        </label>
        <label>Last Name
            <input class="form-control" th:field="*{lastname}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('firstname')}"
               th:text="${error}">Validation error
        </small>
        <small class="error" th:each="error : ${#fields.errors('lastname')}"
               th:text="${error}">Validation error
        </small>
    </div>

    <div class="form-group">
        <label>Email
            <input class="form-control" size="60" type="email" th:field="*{email}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" type="password" th:field="*{password}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <div class="form-group">
        <label>Confirm Password
            <input class="form-control" type="password" th:field="*{matchingPassword}"/>
        </label>
        <small class="error"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error
        </small>
    </div>
    <input class="btn btn-primary" type="submit" value="Register"/>
</form>

<p>
    <a th:href="@{/login}">Login</a>
</p>
</body>
</html>