<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<h1>Registration form</h1>

<i th:if="${registrationError != null}" th:text="${registrationError}" class="error"/>

<form action="/" th:object="${user}" method="POST" enctype="utf8">
    <div>
        <label>First Name
            <input th:field="*{firstname}"/>
        </label>
        <p th:each="error: ${#fields.errors('firstname')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Last Name
            <input th:field="*{lastname}"/>
        </label>
        <p th:each="error : ${#fields.errors('lastname')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Email
            <input type="email" th:field="*{email}"/>
        </label>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Password
            <input type="password" th:field="*{password}"/>
        </label>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>Confirm Password
            <input type="password" th:field="*{matchingPassword}"/>
        </label>
    </div>
    <button type="submit">Submit</button>
</form>

<p>
    <a th:href="@{/login}">Login</a>
</p>
</body>
</html>