<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h1>Registration form</h1>

<i th:if="${param.error != null}" th:text="${param.error}" class="error">Error</i>

<form th:action="@{/register}" th:object="${userDto}" method="post" enctype="utf8">
    <div>
        <label>First Name
            <input th:field="*{firstname}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('firstname')}"
           th:text="${error}">Validation error</small>
    </div>
    <div>
        <label>Last Name
            <input th:field="*{lastname}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('lastname')}"
               th:text="${error}">Validation error</small>
    </div>
    <div>
        <label>Email
            <input type="email" th:field="*{email}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</small>
    </div>
    <div>
        <label>Password
            <input type="password" th:field="*{password}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</small>
    </div>
    <div>
        <label>Confirm Password
            <input type="password" th:field="*{matchingPassword}"/>
        </label>
        <small class="error" th:each="error : ${#fields.errors('matchingPassword')}"
               th:text="${error}">Validation error</small>
    </div>
    <input type="submit" value="Register"/>
</form>

<p>
    <a th:href="@{/login}">Login</a>
</p>
</body>
</html>